
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, id: 'Name' %>
    <%= f.text_field :content, id: 'Content' %>
 </div>


  <div class="field">
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %><br>
  </div>

  <div class="field">
  <span>Tags:</span>
  <%= f.fields_for(:tags, @post.tags.build) do |tag_form| %>

    <%= tag_form.label :name, id: 'Name' %>
    <%= tag_form.text_field :name  %>
  <% end %>
 </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
